.images {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  max-width: 80vw;
  height: auto;
}

h1 {
  font-size: 4vw;
}
@media screen and (min-width: 600px) {
  h1 {
     font-size: 20px;
  }
}
@media screen and (min-width: 690px) {
  img {
    max-width: 60vw;
  }
}