<div class="main">
  <h1>Python Data Parsing</h1>
  <div class="coursera">
    <p>When I realized the demand in myself to learn programming, while searching e-learning oppurtunities I came accross Coursera and took a specialization named <a href="https://www.coursera.org/specializations/python">Python for Everybody</a>. This was my very first approach towards coding, I was completely unaware of clean code directives, please view code accordingly.</p>
    <p>On this page you will find my Github repositories covering a Coursera course and some of my Greenfox Academy projects.</p>
  </div>
  <br>
  <div class="list">
    <div class="title"><a href="https://github.com/nandormatyas/Coursera-python-studies/tree/master/0_2expressions">Expressions</a></div>
    <br>
    <div class="library">Libraries used: re</div>
    <div class="main_goal">Main goal: retrieve data from files and be able to use that data</div>
  </div>
  <br>
  <div class="list">
    <div class="title"><a href="https://github.com/nandormatyas/Coursera-python-studies/tree/master/0_3networks">Networks</a></div>
    <br>
    <div class="library">Libraries used: urllib</div>
    <div class="main_goal">Main goal: connect to url and retrieve data</div>
  </div>
  <br>
  <div class="list">
    <div class="title"><a href="https://github.com/nandormatyas/Coursera-python-studies/tree/master/0_4html">Parsing HTML</a></div>
    <br>
    <div class="library">Libraries used: urllib, BeautifulSoup</div>
    <div class="main_goal">Main goal: collect specified elements from webpage</div>
    <div class="case">In this case: collect links, crawl on the network</div>
  </div>
  <br>
  <div class="list">
    <div class="title"><a href="https://github.com/nandormatyas/Coursera-python-studies/tree/master/0_5XML">Parsing XML</a></div>
    <br>
    <div class="library">Libraries used: urllib, xml API</div>
    <div class="main_goal">Main goal: retrieve xml data and use it</div>
  </div>
  <br>
  <div class="list">
    <div class="title"><a href="https://github.com/nandormatyas/Coursera-python-studies/tree/master/0_6JSON">Parsing JSON</a></div>
    <br>
    <div class="library">Libraries used: urllib, xml API, json</div>
    <div class="main_goal">Main goal: retrieve json data, jsonize retrieved data, use json data object</div>
  </div>
  <br>
  <div class="list">
    <div class="title"><a href="https://github.com/nandormatyas/Coursera-python-studies/tree/master/0_7SQL">Using SQL databases</a></div>
    <br>
    <div class="library">Libraries used: sqlite3, re</div>
    <div class="main_goal">Main goal: manipulate sql data with python</div>
    <div class="case">In this case: fill sql databse from text or json</div>
    <div class="bonus">Bonus: collect friends data from twitter and put the data into sql database</div>
  </div>
  <br>
  <div class="carrier">
    <p><strong>Object Oriented Programming</strong></p>
    <p></p>
    <div><a href="https://github.com/greenfox-academy/nandormatyas/blob/master/week-04/day-02/aircraft_carrier.py">To the Aircraft Carrier</a></div>
  </div>
  <br>
  <div class="wanderer">
    <p><strong>Game called Wanderer</strong></p>
    <p></p>
    <div><a href="https://github.com/greenfox-academy/nandormatyas/tree/master/week-05">Try it! (Run main.py)</a></div>
  </div>
  <br>
  <div class="images">
    <img src="../../assets/images/wanderer.PNG" alt="wanderer" title="Wanderer"><br>
  </div>

</div>
