<div class="main">
  <h1>The Development Operations</h1>
  <div class="images">
    <p>The Development Operations is responsible to provide automated testing, automated deployment and monitoring for ongoing projects and processes. </p>
    <div class="app">
      <p>In case of deploying front-end applications Jenkins plays the main role. After setting a webhook on the choosen repository and branch, a 
        well configured Jenkins server will clone the repository, run the desired tests and if they pass build the app and deploy it to Amazon Web 
        Services S3 bucket which will host a static website.<br>
        Used testing tools:
        <a href="https://circleci.com/">CircleCI</a>, <a href="https://www.npmjs.com/package/tape">Tape</a>, 
        <a href="https://facebook.github.io/jest/">Jest</a>, <a href="https://angular.io/guide/testing">Karma&Jasmine</a>
      </p>
      <div>
        <img src="../../assets/images/continous.PNG" alt="Continous deployment for frontend projects" title="Continous deployment for frontend projects"><br> 
      </div>
    </div>
    <div class="app">
      <p>Back-end deployment takes an other kind of route. After Jenkins runs the tests it creates a dockerized version of the app and sends a dockerrun file(manual) to Amazon Web Services 
        so it can deploy the app from DockerHub to an EB or EC2 instance.<br>
        Used testing tools: 
        <a href="https://circleci.com/">CircleCI</a>, <a href="https://www.npmjs.com/package/supertest">Supertest</a>
      </p>
      <div>
          <img src="../../assets/images/backend.PNG" alt="Continous deployment for backend projects" title="Continous deployment for backend projects"><br>
      </div>
    </div>
    <div class="app">
      <p>After configuring routes, ports, credentials,
        Amazon Web Services will host our whole application and after connecting a domain to it, it will be ready to be open for users.<br>
        For more information check out the <a href="https://github.com/nandormatyas/DevOps/blob/master/README.md">documentation</a> written by our project team at Greenfox Academy.
      </p>
      <div>
        <img src="../../assets/images/app_structure.PNG" alt="App structure" title="App structure"><br>
      </div>
    </div>
      
  </div>

</div>

