.images {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  max-width: 50vw;
  height: auto;
}

h1 {
  font-size: 4vw;
  width: auto;
  text-align: center;
}
.main {
  font-size: 2vw;
}

@media screen and (min-width: 690px) {
  img {
    max-width: 40vw;
  }
}


