.images {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  font-size: 2vw;

}

img {
  max-width: 50vw;
  height: auto;
}

h1 {
  font-size: 4vw;
  width: auto;
  text-align: center;
}

@media screen and (min-width: 690px) {
  img {
    max-width: 40vw;
  }
}
@media screen and (max-width: 690px) {
  img {
    max-width: 30vw;
  }
}


.project{
  display: flex;
  flex-direction: row;
}
p {
  padding: 4%;
}


