<div class="main">
  <h1>Javascript Projects</h1>
  <div class="images">
    <img src="../../assets/images/geoloc.PNG" alt="Geolocation api"><br>
    <img src="../../assets/images/gallery1.PNG" alt="Gallery"><br> 
    <img src="../../assets/images/gallery2.PNG" alt="Gallery"><br>
    <img src="../../assets/images/gallery3.PNG" alt="Gallery"><br>
    <img src="../../assets/images/spam.PNG" alt="Reddit type threads"><br> 
    <img src="../../assets/images/login.gif" alt="Login page"><br> 

  </div>

</div>
