<div class="main">
  <h1>Javascript Projects</h1>
  <div class="images">
    <div class="project">
      <div class="block">
        <img src="../../assets/images/geoloc.PNG" alt="Geolocation api" title="Geolocation api"><br>
      </div>
        <p>
          The most interesting in this project is how to talk to an API and use the received information on your own website.
          This app takes a city and visualizes on google maps with the help of a google API. Cool stuff!<br>
          <a href="https://github.com/greenfox-academy/nandormatyas/blob/master/week-08/day-03/get-position.js">Check code!</a>
        </p>
    </div>
    <div class="project">
      <div class="block">  
        <img src="../../assets/images/gallery2.PNG" alt="Gallery" title="Gallery"><br>
        <img src="../../assets/images/gallery3.PNG" alt="Gallery" title="Gallery"><br>
      </div>
      <p>The image gallery project gave me a huge push,
          this was the point where I receieved a little piece of javascript's power in webdesign.
          Later on a larger but similar project, I created a browser driven music player.<br>
          <a href="https://github.com/greenfox-academy/nandormatyas/tree/master/week-07/weekly-project">Gallery code</a><br>
          <a href="https://github.com/greenfox-academy/nandormatyas/tree/master/week-10/music_player" >Foxplayer code</a>
      </p>
    </div>
    <div class="project">
      <div class="block">
        <img src="../../assets/images/login.gif" alt="Login page" title="Login page"><br> 
        <img src="../../assets/images/spam.PNG" alt="Reddit type threads" title="Reddit type threads"><br> 
      </div>
        <p>This was my favourite full-stack javascript project, using nodejs  backend and a MySQL database.
            In this project the main challenge was to connect the frontend, backend and a database to work together. On the
            forum page the most interesting part was working with the
            comment section related database operations and DOM manipulation, although my most favourite part is the login page, which has cool animation features,
            also on addition to the specifications I built in a nice password hashing process for stored passwords and login validation.<br>
            <a href="https://github.com/greenfox-academy/nandormatyas/tree/master/week-08/reddit">Check frontend code!</a><br>
            <a href="https://github.com/greenfox-academy/nandormatyas/blob/master/week-09/day-05/backend-reddit-mysql.js">Check backend code!</a>
        </p>
    </div>

  </div>

</div>
