.home {
    font-size: 2vw;
}
.intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
}
.intro_text {
    font-size: 1.8vw;
    grid-row: 1 / 3;
    grid-column: 2 / 2;
    padding: 4%;
}
.profile_img {
    margin: auto;
    grid-row: 2 / 2;
    grid-column: 1 / 2;
}
img {
    max-width: 30vw;
    height: auto;
}

h1 {
    font-size: 4vw;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 10% 0 0 10%;
}


.buttons {
    margin: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button {
    max-width: 30%;
    box-shadow: 1px 1px 0 0;
    color: rgb(3, 51, 3);
}
.button:hover {
    color: rgb(142, 243, 142);
    cursor: pointer;
    box-shadow: unset;
}

.cv {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul {
    list-style-type: disc;
    padding: 0 0 0 10%;
    margin: 5%;
}
li {
    display: list-item;
    padding: 0 0 0 10px;
}

.job_title {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20%;
}
.lang {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.study {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.subject {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

@media screen and (min-width: 690px) {
    img {
    max-width: 30vw;
    }
}
@media screen and (max-width: 600px) {
    .job {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}

a {
    font-size: 1.5vw;
}
